body {
	background-color: #555;
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #cdebeb8d;
	text-align: justify;
}

h1 {
	font-size: 50px;
	text-align: center;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	color: antiquewhite;
	text-align: center;
	font-size: 12px;
}

.Cat-text{
	color: black;
}

#lorem {
	font-size: 40px;
}