* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	background-color: white;
}

h1, h2 {
	color: #00988b;
}

h1 {
	font-size: 40px;
	margin-bottom: 20px;
}

h2 {
	font-size: 25px;
	margin-bottom: 10px;
}

.author img {
	width: 120px;
	border-radius: 30%;
	float: left;
	margin-bottom: 20px;
}

.main-text {
	text-align: justify;
	margin-bottom: 20px;
}

.author-text {
	font-size: 22px;
	float: left;
	margin: 45px auto 10px 20px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.other {
	margin-bottom: 35px;
}

.container {
	width: 1140px;
	margin: 20px auto 10px auto;
}

.blog-post {
	width: 77%;
	float: left;
	padding: 20px 30px 20px 30px;
	position: relative;
}
.blog-post img {
	width: 100px;
}

.other-posts {
	width: 23%;
	float: left;
	padding: 10px 20px 10px 20px;
}

.author {
	padding: 20px 20px 20px 20px;
	border-top: 3px solid rgb(91, 91, 91)
}

.date {
	position: absolute;
	top: 10px;
	right: 0;
	padding: 20px 30px 20px 30px;
}